*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Calculator {
    width: 320px;
    padding: 20px;
    background-color: #222;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

#display {
    width: 100%;
    height: 80px;
    background-color: #000;
    color: #0f0;
    font-size: 26px;
    text-align: right;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.btn {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #e3e0e0;
    color: #050505;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.btn:hover {
    background-color: #d1d1d1;
    transform: scale(1.05);
}

.operator {
    background-color: #ff9500;
    color: #fff;
}

.operator:hover {
    background-color: #fea412;
}

.clear {
    background-color: #ff3b30;
    color: #fff;
}

.equal {
    background-color: #34c759;
    color: #fff;
}

.equal:hover {
    background-color: #5ddc7a;
}
